<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739195721274-nv93q80idmbmv5866h8nrchub98g8ral.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739195721274-nv93q80idmbmv5866h8nrchub98g8ral</string>
	<key>API_KEY</key>
	<string>AIzaSyBNDNR2VZWR3b-lPTQ48vPu3g70pXImucc</string>
	<key>GCM_SENDER_ID</key>
	<string>739195721274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-92bb7</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-92bb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739195721274:ios:80b5bc485a19cd7ff00703</string>
</dict>
</plist>